.ss {
	font-family: "Microsoft Sans Serif";
	font-size: 14px;
}

.ss3 {
	color: #333333
	font-family: "Microsoft Sans Serif";
	font-size: 14px;
}

.ss4 {
	font-family: "Microsoft Sans Serif";
	font-size: 10px;
}

.ss5 {
	font-family: "Microsoft Sans Serif";
	font-size: 10px;
	color: #082CC6
}